<app-navbar></app-navbar>

<div class="container">
  <form #addProduct="ngForm" (ngSubmit)="onSubmit(addProduct)">
    <h1>Add new product</h1>
    <div>
      <input
        id="productName"
        name="productName"
        class="formcontrol"
        type="text"
        placeholder="Enter the name of the product"
        ngModel
        required
      />
      <input
        id="productPrice"
        name="productPrice"
        class="formcontrol"
        type="number"
        placeholder="Enter the price of the product"
        ngModel
        required
      />
      <label>Select the quantity </label>
      <select
        id="productType"
        name="productType"
        for="productType"
        class="formcontrol"
        ngModel
        required
      >
        <option>Gram</option>
        <option>Kilogram</option>
        <option>Liter</option>
        <option>Count</option>
      </select>
      <input
        type="url"
        id="productImage"
        name="productImage"
        class="formcontrol"
        placeholder="Enter the url of the image"
        ngModel
        required
      />
      <button>Add Product</button>
    </div>
  </form>
</div>
