* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
}

form {
  background-color: #e88e5e;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;
  text-align: center;
}

input,
select {
  background-color: rgb(234, 233, 233);
  border: none;
  padding: 14px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  border-radius: 10px;
  box-shadow: 5px 14px 28px rgba(16, 16, 16, 0.25);
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  max-width: 500px;
  min-width: 400px;
}

button {
  border-radius: 20px;
  background-color: #3a47d5;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 50px;
  cursor: pointer;
}

.formcontrol.ng-invalid.ng-touched {
  border: 3px solid red;
}

label {
  font-size: 20px;
}
