<app-navbar></app-navbar>

<div class="container" id="column">
  <form #addProduct="ngForm" (ngSubmit)="onSubmit(addProduct)">
    <h1>Add new product</h1>
    <div>
      <label
        >Select the product category
        <select
          id="category"
          name="category"
          for="category"
          class="formcontrol"
          ngModel
          required
          category
        >
          <option *ngFor="let c of category">
            {{ c }}
          </option>
        </select>
      </label>
      <input
        id="productName"
        name="productName"
        class="formcontrol"
        type="text"
        placeholder="Enter the name of the product"
        ngModel
        required
      />
      <input
        id="productPrice"
        name="productPrice"
        class="formcontrol"
        type="number"
        placeholder="Enter the price of the product"
        ngModel
        required
      />
      <label>Select the quantity </label>
      <select
        id="productType"
        name="productType"
        for="productType"
        class="formcontrol"
        ngModel
        required
      >
        <option>Gram</option>
        <option>Kilogram</option>
        <option>Liter</option>
        <option>Count</option>
      </select>
      <input
        type="url"
        id="productImage"
        name="productImage"
        class="formcontrol"
        placeholder="Enter the url of the image"
        ngModel
        required
      />
      <button [disabled]="!addProduct.valid">Add Product</button>
    </div>
  </form>
</div>

<div class="container" id="column1">
  <form #addCategory="ngForm" (ngSubmit)="addNewCategory(addCategory)">
    <h1>Add new Category</h1>
    <div>
      <input
        id="categoryName"
        name="categoryName"
        class="formcontrol"
        type="text"
        placeholder="Enter the name of the category"
        ngModel
        required
      />
      <input
        type="url"
        id="categoryImage"
        name="categoryImage"
        class="formcontrol"
        placeholder="Enter the url of the image"
        ngModel
        required
      />
      <button [disabled]="!addCategory.valid">Add category</button>
    </div>
  </form>
</div>
