body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f0ede1;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-image: url(../../../assets/product-images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: rgb(24, 23, 23);
  font-weight: bold;
  margin: 0;
}

#para {
  font-size: 35px;
  color: #ff0202;
  margin: 20px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #00d2ff;
  background-color: #3a47d5;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:hover {
  background-color: #fe92ba;
}

.about-me {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}
.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 10px 80px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}
.container {
  background-color:whitesmoke;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}
.card{
  padding: 20px;
  cursor: pointer;
}
.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
