<app-navbar></app-navbar>

<div class="intro">
  <h1>BigBasket</h1>
  <br />
  <p id="para">India’s largest online supermarket</p>
  <br />
  <button routerLink="/home-path/view-home-path">Order now</button>
</div>
<div class="about-me">
  <div class="about-me-text">
    <h2>About Us...</h2>
    <p>
      What is bigbasket.com bigbasket.com (Innovative Retail Concepts Private
      Limited) is India’s largest online food and grocery store. With over
      18,000 products and over a 1000 brands in our catalogue you will find
      everything you are looking for. Right from fresh Fruits and Vegetables,
      Rice and Dals, Spices and Seasonings to Packaged products, Beverages,
      Personal care products, Meats – we have it all. Choose from a wide range
      of options in every category, exclusively handpicked to help you find the
      best quality available at the lowest prices. Select a time slot for
      delivery and your order will be delivered right to your doorstep, anywhere
      in Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Noida, Mysore,
      Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar,
      Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna,
      Indore and Chandigarh Tricity You can pay online using your debit / credit
      card or by cash / sodexo on delivery. We guarantee on time delivery, and
      the best quality!<br />
      Happy Shopping
    </p>
  </div>
</div>
<section id="contact">
  <footer class="footer">
    <div class="copy">Copyright &copy; 2023 Srikarthick</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
    </div>
  </footer>
</section>
