<app-navbar></app-navbar>
<div class="container" id="container">
  <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
    <h1>Sign-up</h1>
    <div>
      <input
        id="fname"
        name="fname"
        type="text"
        class="formcontrol"
        placeholder="Enter your first name"
        autocomplete="off"
        ngModel
        required
        fname
      />

      <input
        id="lname"
        name="lname"
        type="text"
        class="formcontrol"
        placeholder="Enter your last name"
        autocomplete="off"
        ngModel
        required
        lname
      />

      <input
        id="number"
        name="number"
        type="text"
        class="formcontrol"
        placeholder="Enter your Mobile Number"
        autocomplete="off"
        ngModel
        [pattern]="mobNumberPattern"
        required
        number
        #number="ngModel"
      />

      <span *ngIf="!number.valid && number.touched"
        >Please enter valid number</span
      >

      <input
        type="text"
        id="email"
        class="formcontrol"
        name="email"
        placeholder="Enter your Mail Id"
        autocomplete="off"
        ngModel
        required="email"
        email
        #email="ngModel"
      />

      <span *ngIf="!email.valid && email.touched"
        >Please enter valid mail-id</span
      >

      <input
        type="password"
        id="password"
        class="formcontrol"
        name="password"
        placeholder="Enter the new passsword"
        autocomplete="off"
        [pattern]="passwordPattern"
        ngModel
        #password="ngModel"
        required
        password
      />
      <span *ngIf="!password.valid && password.touched"
        >Password is required in requested format e.g Abcd@123
      </span>
      <div>
        <button [disabled]="!userForm.valid">Submit</button>
      </div>

      <div>
        <button routerLink="/loginSignUp-path/login-path">Login</button>
      </div>
    </div>
  </form>
</div>

