<app-navbar></app-navbar>

<div class="container" id="container">
  <form [formGroup]="loginform" (ngSubmit)="login()">
    <h1>Login</h1>
    <input
      type="text"
      id="email"
      class="formcontrol"
      formControlName="email"
      placeholder="Enter your Mail Id"
      autocomplete="off"
    />
    <span
      *ngIf="loginform.get('email')?.invalid && loginform.get('email')?.touched"
    >
      Please enter valid email address
    </span>
    <input
      type="password"
      id="password"
      class="formcontrol"
      formControlName="password"
      placeholder="Enter the passsword"
      autocomplete="off"
    />
    <span
      *ngIf="
        loginform.get('password')?.invalid && loginform.get('password')?.touched
      "
      >Password must contain 1 Uppercase , 1 Lowercase , 1 Special character and
      1 Number and Minimum length 8</span
    >
    <!-- <button type="submit" [disabled]="!loginform.valid">Submit</button> -->
    <button type="submit">Submit</button>
    <p>
      New user? <a routerLink="/loginSignUp-path/sign-up-path"> Register </a>
    </p>
  </form>
</div>
